$cerulean: #24798Eff;
$cerulear: #156C80;
$parchment: #F5EDD4ff;
$battleship-gray: #7C7764ff;
$verdigris: #137558;
$navajo-white: #F1F5F4;
$myrtle-green: #8DCCBF;
$tomato: #FE5842;
$midnight-green: #091616;
$onyx: #198BA1;
$burnt-sienna: #fffffff3;
$newblue: #4B837F;
$whitenot: rgb(254, 248, 231);
$brownred: #9C2B2E;
$blueish: rgb(27, 64, 73);
$whiteish: #C8D0C5;
